@page "/acerca"
@rendermode InteractiveServer

<h3>Acerca de</h3>
<p><b>Nombre:</b> Reyning</p>
<p><b>Matrícula:</b> 20231001</p>
<img src="mi-foto.jpg" alt="Foto de Reyning" class="img-thumbnail" style="width:150px;height:150px;">
